
:root {
    --background-color: #141d26;
    --text-color: #e2e2d2;
    --primary-color: #6d3c52;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .registration-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #141d26;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d1d1d1; /* Слегка светлее для эффекта наведения */
  }
  