.login-container{
    max-width: 400px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-container form{
    padding: 30px;
}
.button-reg{
    margin-top: 5px;
    display: flex;
    font-size: 15px;
    text-decoration: underline;
    background-color: transparent;
    color: rgb(31, 55, 190);
}